<div class="row">
    <div class="col-xs-12">

        <p> Add New server or BluePrint!</p>
        <label for="">Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="NewServerName">
        <label for="">Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="NewServerContent">
        <br>
        <button class="btn btn-primary" (Click)="onAddServer()"> Add Server</button>
        <button class="btn btn-primary" (click)=" onAddBlueprint() "> Add BluePrint!</button>
    </div>
</div>